---
import { CollectionEntry, getCollection } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { Content, headings } = await post.render();
---

{headings.map(h => <h1>{JSON.stringify(h)}</h1>)}
<h2>{slug}</h2>
<Content />
