---
import { CollectionEntry, getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { Content } = await post.render();
---

<DefaultLayout>
  <article class="prose max-w-screen-lg">
    <h2>{slug}</h2>
    <Content />
  </article>
</DefaultLayout>
