---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

const posts = await getCollection("posts");
---

<DefaultLayout>
  <ul>
    {posts.map(post => <li>{post.data.date.toLocaleDateString()}</li>)}
  </ul>
</DefaultLayout>
