---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1>Astro</h1>
  <a href="/admin">Admin</a>
  <a href="/posts">Posts</a>
  <a href="/posts/2023-04-19-test">Post</a>
</DefaultLayout>
