---
title: LACA E-Coli testing results
author: Doug Harrison
date: 2024-06-07T21:02:38.767Z
---
Good News - Acceptable E-coli levels as tested

https://mail.google.com/mail/u/0/#inbox/FMfcgzQVwwxVkcLNZDcfqvdQFZkHmFlX