---
import { getEntryBySlug } from "astro:content";
import DocumentLinks from "./DocumentLinks.astro";

const intro = await getEntryBySlug("intros", "site-introduction");

const { Content } = await intro.render();
---

<div class="text-center">
  <h2 class="text-4xl">Rolling Woods Property Owners Association (RWPOA)</h2>
  <p class="text-3xl mt-2 font-light text-brand-700">
    Stay up-to-date with the latest news and announcements
  </p>
</div>

<div class="sm:flex gap-8 mt-4">
  <div class="flex-1 md:pr-16 my-10">
    <div class="prose max-w-full">
      <Content />
    </div>
  </div>
  <div class="flex-shrink-0 my-10">
    <DocumentLinks />
  </div>
</div>
