---
import { getCollection } from "astro:content";

const documents = await getCollection("documents");
---

<aside
  class="border border-brand-500 bg-opacity-5 bg-brand-300 rounded-lg py-5 px-9 shadow-lg"
  id="documents"
>
  <h2 class="text-2xl mb-4">Documents</h2>
  <ul>
    {
      documents.map(doc => (
        <li class="mb-2 underline text-lg">
          <a href={doc.data.url} target="_blank" rel="noopener noreferrer">
            {doc.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
