---
const buttons = [
  { title: "Documents", target: "documents" },
  { title: "Meeting Notes", target: "posts" },
];
---

<header class="bg-brand-300 bg-opacity-20">
  <div class="max-w-screen-xl mx-auto px-4 flex justify-between items-center">
    <a href="/" class="font-serif">
      <img class="w-56" src="/images/rwpoa-logo-sm.png" alt="site logo" />
    </a>
    <nav>
      {
        buttons.map(btn => (
          <button
            data-target={btn.target}
            class=" hover:bg-brand-700 hover:text-slate-300 text-xs sm:text-base transition-colors my-1 sm:p-2 px-1 rounded-md mr-2 underline hover:no-underline"
          >
            {btn.title}
          </button>
        ))
      }
    </nav>
  </div>
</header>

<script>
  const navBtns = document.querySelectorAll<HTMLButtonElement>("nav>button");
  navBtns.forEach(btn => {
    btn.addEventListener("click", () => {
      const { target } = btn.dataset;
      const scrollTarget = document.getElementById(target || "#");
      if (scrollTarget) {
        scrollTarget.scrollIntoView({ behavior: "smooth" });
      } else {
        window.location.assign("/#" + target);
      }
    });
  });
</script>
