---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<h2 class="text-4xl mb-6">Most Recent Meeting Notes</h2>
<article class="prose max-w-full">
  <header class="-mb-2">
    <h3 class="text-2xl mb-0">
      <a class="m-0" href={`/posts/${post.slug}`}>{post.data.title}</a>
    </h3>
    <small>Posted by {post.data.author}</small>
  </header>
  <div
    class="max-h-96 overflow-hidden bg-gradient-to-b from-current from-25% to-75% to-white bg-clip-text"
  >
    <Content />
  </div>
</article>
<p class="text-slate-600 mt-3 mb-6">... article continues</p>
<a class="no-underline text-inherit" href={`/posts/${post.slug}`}>
  <button
    class="rounded-lg font-semibold p-2 border border-slate-800 hover:border-slate-400 text-slate-800 hover:bg-slate-500 hover:text-slate-200 transition-colors"
    >Go to Full Post -&gt;</button
  ></a
>
