---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../base.css";

type Props = {
  title?: string;
  description?: string;
};

const { title = "RWPOA", description = "Rolling Woods HOA Information" } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <div>
      <Header />
      <main class="content">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
